
  <ion-header >
    <ion-toolbar color="primary">
      <ion-buttons slot="start" >
        <div style="zoom:2;">
        <ion-icon name="person-circle"></ion-icon>
        </div>
      </ion-buttons>
      <ion-title><p style="font-weight: bold;">Rapo</p></ion-title>
      <ion-buttons slot="end">
        <div style="zoom:2;">
        <ion-icon name="ellipsis-vertical" (click)="mostrarOpciones()"></ion-icon>
      </div>

      </ion-buttons>
    </ion-toolbar>
  

  </ion-header>
  
  
  <!--
  <ion-text>Rapo</ion-text>
  <ion-icon name="ellipsis-vertical-outline" slot="end"></ion-icon>


-->