<ion-header>
  <ion-toolbar>
    <ion-title>tab4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-text>Tabs</ion-text>
    </ion-item>

    <ion-item>
      <ion-button (click)="escanear()">
        Escanear
        <ion-icon name="scan-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-buttom (click)="switchLinterna()">
        Linterna
        <ion-icon name="flashlight-outline"></ion-icon>
      </ion-buttom>
    </ion-item>
  </ion-list>

</ion-content>
