<ion-header>
  <app-header class="header-class" (eventMostrarMenu)="mostrarMenu($event)"></app-header>
</ion-header>

<ion-content [fullscreen]="true" style="width:100%; text-align:center; font-weight:bold; ">


  <div style="padding: 5px;" *ngIf="this.showContent">
    <span style="zoom:1.5">
      <ion-icon [name]="this.icon" [color]="this.color"></ion-icon>
    </span>
    <span>
      {{this.tittle}}
    </span>



    <ion-button color="secondary" expand="block" (click)="getRickData()">get info Rick</ion-button>

    <div *ngFor="let personaje of personajes">

      <app-card-rick [nombre]="personaje.name" [genero]="personaje.gender" [imagen]="personaje.image"
        [status]="personaje.status" [origen]="personaje.origin.name" [specie]="personaje.species"
        (click)="eventoPersonaje($event)"></app-card-rick>



    </div>


    <ion-list *ngIf="this.mostrarFormulario">

      <span style="padding-right: 5px;" *ngFor="let relationship of relationships">
        <ion-item>
          
          <span style="padding-right: 3px; zoom: 1.3;">
            <ion-icon name="heart-outline" color="danger "></ion-icon>
          </span>
          <ion-label>{{relationship.tipo}}</ion-label>
          <ion-label float="right">{{relationship.puntaje}}</ion-label>

          <ion-checkbox slot="start" (ionChange)="catchOnRelationship($event)"></ion-checkbox>
        </ion-item>
      </span>


      
      <ion-item>
        <ion-label>Nombre</ion-label>
        <ion-input [(ngModel)]="this.name"></ion-input>
      </ion-item>

    </ion-list>

    <ion-text>{{this.name}}</ion-text>



  </div>

  <ion-button expand="block" color="tertiary" (click)="showDiv()"> show div</ion-button>
</ion-content>