
<ion-header >
  <app-header class="header-class" (eventMostrarMenu)="mostrarMenu($event)"></app-header>
</ion-header>

<ion-content [fullscreen]="true">

  <div style="padding: 10px; width:100%">

    <ion-text style="font-weight: bold ">
      <p style="text-align: center">
      Adventure Time
    </p>
      </ion-text>

      <ion-button expand="block" color="tertiary" (click)="getDataAt()"> get Data Adventure Time</ion-button>

      <div *ngFor="let ATpeople  of this.AhData">

        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>{{ATpeople.name}}</ion-card-subtitle>
            <ion-card-title>{{ATpeople.fullname}}</ion-card-title>
          </ion-card-header>

          <ion-img  src="https://i.pinimg.com/originals/55/01/59/5501596c3c51fb31d6004657ae4a4049.jpg"></ion-img>
        
          <ion-card-content>
            {{ATpeople.url}}
            
          </ion-card-content>
        </ion-card>

      </div>

  </div>
  
</ion-content>
