<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>

  <form>

    <div>

      <ion-card style="padding:5px">


  <ion-list>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">LastName</ion-label>
      <ion-input ></ion-input>
    </ion-item>

    <ion-item>
      <ion-list>
        <ion-radio-group value="biff">
          <ion-list-header>
            <ion-label>Select your carrer</ion-label>
          </ion-list-header>
      
          <ion-item>
            <ion-label>Industrial Engieneering </ion-label>
            <ion-radio slot="start" value="industrialEng"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>Software Engieneering</ion-label>
            <ion-radio slot="start" value="softEng"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>Systems Engieneering</ion-label>
            <ion-radio slot="start" value="SystemEng"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

    </ion-item>


    <ion-item>
      <ion-label position="floating">Period</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>

    
  </ion-list>






</ion-card>


</div>
</form>

<ion-text>Nombre sugerido: {{this.name}}</ion-text>
  
<ion-text>Apellido sugerido: {{this.lastName}}</ion-text>


<ion-button></ion-button>

</ion-content>
